version: '3.8'
services: 
  "web-app":
    build: "./web-app"
    ports:
      - "3000:8080"
    volumes:
      - "./web-app/src:/web-app/src"
  "database": 
    build: "./db"
    environment:
      MYSQL_ROOT_PASSWORD: "abc123"
      MYSQL_DATABASE: "webb"
    ports:
    - "3306:3306"

  session-redis:
    build: "./session-redis"
    ports:
      - "6379:6379"

  postgres-db:
    build: './postgres-db'
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "abc123"
      POSTGRES_USER: aljonaSandra
      POSTGRES_DB: postgres

  spa:
    image: nginx
    container_name: spa
    ports:
      - "80:80"
    volumes:
      - ./spa/nginx.conf:/etc/nginx/nginx.conf
      - ./spa/static_spa/index.html:/data/www/index.html
      - ./spa/static_spa/js/navigationSpa.js:/data/www/navigationSpa.js
      - ./spa/static_spa/css/style.css:/data/www/style.css
      - ./spa/static_spa/js/restApiHandler.js:/data/www/restApiHandler.js



  

