/* .body{
    background-image: url("../../../web-app/src/presentation-layer/public/pictures/home.jpg");
}

.header{
    text-align: center;
    color:aquamarine;
    font-size: 15;
}

.nav{
    border-bottom: 2px solid green;
    width: 60%;
    margin: 0 auto;
    padding: 0.5em;
}

.nav ul{
    list-style-type: none;
    padding: 1;
    margin: 1;
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: green;
    font-size: 200%;
    padding: 5px;
}

main{
    width: 100%;
    margin: 0 auto;
}

main > div{
    display: none;
}

main > div.current-page{
    display: block;
} 

.page{
    display: none;
}

.page.current-page{
    display: block;
}

body.isLoggedOut .showIfLoggedIn{
    display: none;
}

body.isLoggedIn .showIfLoggedOut{
	display: none;
} */

body{
    background-color: white;
}

header{
    text-align: center;
    font-size: 150%;
}

nav{
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
}

nav ul{
    list-style-type: none;
    padding: 1;
    margin: 1;
    text-align: left;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: rgb(194, 121, 218);
    font-size: 200%;
    padding: 8px;
}

main{
    width: 100%;
    margin: 0 auto;
}


body.isLoggedOut .showIfLoggedIn{
    display: none;
}

body.isLoggedIn .showIfLoggedOut{
	display: none;
}
.page{
	display: none;
}

.page.current-page{
	display: block;
}