<div class="blog-single gray-bg">
        <div class="container">
            <div class="row align-items-start">
                <div class="col-lg-8 m-15px-tb">
                    <article class="article">
                        <div class="user-img">
                            <img src="/uploads/{{nameOfFile}}" alt="">
                        </div>
                        <div class="article-title">
                            <h2>Name:</h2>
                            <h4>{{advertName}}</h4>
                            <div class="media">

                                <div class="media-body">
                                    <label></label>

                                </div>
                            </div>
                        </div>
                        <div class="article-content">

                            <blockquote>
                                <h2>Description: </h2>
                                <h4>{{advertDescription}}</h4>

                            </blockquote>
                            <h3>Contact:</h3> 
                            <p>{{contact}}</p>
                        </div>
                       
                    </article>
            </div>
        </div>
    </div> 