<<<<<<< HEAD
<div class="walkADog jumbotron-fluid">

    <div class="container">
        <div class="row justify-content-center align-items-center ">
            <div class="col-md-auto display-2 align-self-center fw-normal textHeadLine" >Walk a dog</div>
            <div class="w-100"></div>
            <div class="col-md-auto align-self-center display-6 fw-light textSub">Här ska det vara lite text om vår hemsida, och om vad du kan göra på den.</div>
        </div>

    </div>
</div>
=======
<h1>Start</h1>
<p>Startpage test test test </p>
>>>>>>> a9b96716072359f94b9832f59d9856133e04122c
