<div class="walkADog jumbotron-fluid">

    <div class="container">
        <div class="row justify-content-center align-items-center ">
            <div class="col-md-auto display-2 align-self-center fw-normal textHeadLine" >Walk my dog</div>
            <div class="w-100"></div>
            <div class="col-md-auto align-self-center display-6 fw-light textSub">Här ska det vara lite text om vår hemsida, och om vad du kan göra på den.</div>
            <div class=" col2 col-md-auto "><a href="/logIn/signUp" class="buttonGetStarted">Get Started!</a></div>
            
        </div>

    </div>
</div>
